<h2><%= link_to "Tickets", tickets_path %></h2>
<p>Tickets issues hotline: <%= Faker::PhoneNumber.cell_phone %></p>
<p><%= Faker::Lorem.sentences(5).join(" ") %></p>

<h2>Venues</h2>
<p>Venues issues hotline: <%= Faker::PhoneNumber.cell_phone %></p>
<p><%= Faker::Lorem.sentences(3).join(" ") %></p>

<h2>All other enquiries</h2>
<p>General number: <%= Faker::PhoneNumber.cell_phone %></p>
<p><%= Faker::Lorem.sentences(6).join(" ") %></p>
