<main class="Site-content">
  <div class="container-fluid">
    <div class="overall-winner">
      <div class="inner-overall-winner">
        <h2>Overall Winner</h2>
        <h1><%= link_to @overall_winner.title, movie_path(@overall_winner), id: "winner-link" %></h1>
        <h2><%= render partial: "shared/#{number_to_word(@overall_winner.average_rating.round)}_star" %></h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h1 class="special-h">Winners by Category</h1>

    <div class="venue-container">
      <% @categories.each do |category| %>
        <div class="venue-box">
          <h2><%= category.title %></h2>
          <h1><%= link_to category.winner.title, movie_path(category.winner) %></h1>
          <h2><%= render partial: "shared/#{number_to_word(category.winner.average_rating.round)}_star" %></h2>
        </div>
      <% end %>
    </div>
  </div>
</main>
