<div class="review-info" data="<%= review.user.role %>">
  <%= render partial: "shared/#{number_to_word(review.stars.round)}_star", locals: { size: "15x15"} %><br/>
  <p><%= review.description %></p>

  <ul class="review-sub-info">
    <% if review.user.role == "judge" %>
      <li><span class="splash-color">Reviewer: </span><%= link_to review.user.username, judges_path %></li>
    <% else %>
      <li><span class="splash-color">Reviewer: </span><%= link_to review.user.username, user_path(review.user)%></li>
    <% end %>
    <% if review.user == current_user %>
      <li>|</li>
      <li><%= link_to "edit review", edit_movie_review_path(review.movie, review) %></li>
      <li>|</li>
      <li><%= link_to "delete review", review_delete_path(review.movie, review), class: "delete-link", data: {confirm: "Are you sure?"} %></li>
    <% end %>
  </ul>

  <div class="review-edit-delete">
  </div>

  <div class="comment-list">
    <% if review.comments.length == 0 %>
      <p class="no-comments">There are no comments for this review currently!</p>
    <% else %>
      <% review.comments.each do |comment| %>
        <%= render partial: "movie_comment_info", locals: {comment: comment} %>
      <% end %>
    <% end %>
  </div>

  <div class="leave-comment-info">
    <% if logged_in? %>
      <%= link_to "leave a comment", new_movie_review_comment_path(review.movie,review), class: "btn btn-xs btn-success new-comment-link" %>
    <% end %>
  </div>
</div>
