<h1><%= @user.username %></h1>
<% if @user.judge? %>
  <p>Role: <%= @user.role.capitalize %></p>
<% end %>

<% unless @user.reviews.empty? %>
  <h2><%= @user.username %>'s reviews:</h2>
  <ul>
    <% @user.reviews.each do |review| %>
      <li>Reviewed <%= link_to review.movie, movie_path(review.movie) %>, <%= review.comments.length %> comments</li>
    <% end %>
  </ul>
<% end %>


<% unless @user.comments.empty? %>
  <h2><%= @user.username %>'s comments:</h2>
  <ul>
    <% @user.comments.each do |comment| %>
      <li><%= link_to comment.review.movie, movie_path(comment.review.movie) %>: <%= comment.blurb %></li>
    <% end %>
  </ul>
<% end %>
