<!DOCTYPE html>
<html>
<head>
  <title>Lower East Side Film Festival</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "LES Film Festival", root_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Judges", judges_path %></li>
      <li><%= link_to "Winners", winners_path %></li>
      <li><%= link_to "Reviews",reviews_path %></li>
      <li><%= link_to "Tickets", tickets_path %></li>

    <% if logged_in? %>
      <%= link_to "Logout", logout_path %></li>
      <li><%= link_to current_user.username, user_path(current_user) %></li>

    <% else %>
      <li><%= link_to "Register", new_user_path %></li>
      <li><%= link_to "Login", login_path %></li>
    <% end %>
    </ul>
  </div>
</nav>

  <%= yield %>

  <footer>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Venues", venues_path %></li>
      <li><%= link_to "Judges Registration", judges_register_path %></li>
      <li><%= link_to "Judges Login", judges_login_path %></li>
    </ul>
  </footer>
</body>
</html>
