<h1><%= link_to "Recent Reviews", reviews_path, :id => "reveiws_all_link" %></h1>

<h1><%= link_to "Most Recent Reviews by Category", reviews_path, :id => "reviews_category_link" %></h1>

<div id="reviews_all_list">
<ul>
  <% @reviews.reverse[0..10].each do |review| %>
  <%= render partial: "individual_review", locals: { review: review} %>
  <br>
  <% end %>
</ul>
</div>


<h1>Most Recent Reviews by Category</h1>
<% @categories.each do |category| %>
<div id="reviews_category_list">
  <h2><%= category.title%></h2>
<ul>
  <% category.five_most_recent_reviews.each do |review| %>
  <%= render partial: "individual_review", locals: { review: review} %>
  <br>
  <% end %>
</ul>
</div>
<% end %>