<div class="review-info">
  <p><%= review.description %></p>
  <ul>
    <li>Stars: <%= review.stars %></li>
    <% if review.user.role == "judge" %>
    <li><%= link_to review.user.username, judges_path %></li>
    <% else %>
    <li><%= link_to review.user.username, user_path(review.user)%></li>
  <% end %>
  </ul>

  <div class="review-edit-delete">
  <% if review.user == current_user %>
    <%= link_to "edit review", edit_movie_review_path(review.movie, review) %>
    <%= link_to "delete review", [review.movie, review], method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  </div>

  <h4>Comments</h4>
  <div class="comment-list">
    <% review.comments.each do |comment| %>
      <%= render partial: "movie_comment_info", locals: {comment: comment} %>
    <% end %>
  </div>

  <% if logged_in? %>
    <%= link_to "comment", new_movie_review_comment_path(review.movie,review) %>
  <% end %>
</div>


