<div class="comment-info">
  <div>
    <p><%= comment.body %></p>
    <ul class="comment-sub-info">
    <% if comment.user.role == "user" %>
      <li class="comment-username"><%= link_to comment.user.username, user_path(comment.user) %></li>
    <% elsif comment.user.role == "judge" %>
      <li class="comment-username"><%= link_to comment.user.username, judges_path %></li>
    <% end %>
    <% if comment.user == current_user %>
      <li>|</li>
      <li><%= link_to "edit comment", edit_movie_review_comment_path(comment.review.movie, comment.review, comment) %></li>
      <li>|</li>
      <li><%= link_to "delete comment", [comment.review.movie, comment.review, comment], method: :delete, data: {confirm: "Are you sure?"} %></li>
    <% end %>
    </ul>
  </div>
</div>
