<main class="Site-content">
  <div class="container">
  <div id="movie-show-container">
    <div class="venue-container">
      <div class="movie-box">
      <h2><span class="splash-color"><%= @movie.title %></span></h2>

      <p><%= @movie.description %></p>

      <%= link_to @movie.category.title, category_path(@movie.category), id: "movie-category" %>
      </div>
    </div>


    <div id="reviews-container">
      <h3>Judge Reviews</h3>

      <div id="list-of-judge-reviews">
        <% if @movie.judge_reviews.length == 0 %>
          <p>There are no judge reviews currently!</p>
        <% else %>
        <% @movie.judge_reviews.each do |review| %>
          <%= render partial: "movie_review_info", locals: {review: review} %>
        <% end %>
        <% end %>
      </div>

      <h3>User Reviews</h3>
      <div id="list-of-judge-reviews">
        <% if @movie.user_reviews.length == 0 %>
          <p>There are no user reviews currently!</p>
        <% else %>
        <% @movie.user_reviews.each do |review| %>
          <%= render partial: "movie_review_info", locals: {review: review} %>
        <% end %>
        <% end %>
      </div>

    </div>
      <div id="movie-show-bottom">
      <% if logged_in? %>
        <div id="add-new-review">
          <%= link_to "post a review", new_movie_review_path(@movie), class: "btn btn-success" %>
        </div>
      <% else %>
        <div id="signup-login-to-post">
          <p>Please <%=link_to "sign up", new_user_path %> or <%= link_to "login", login_path %> to leave reviews and comments! </p>
        </div>
      <% end %>
      </div>
  </div>
</div>
</main>
